@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&family=Montserrat:ital,wght@0,400;0,500;1,400&family=Poppins&display=swap');



.navbar1_grid{
    font-family: 'Roboto', sans-serif;
    background-color: #4D2C5E;
    color: rgb(255, 255, 255);
}
.navbar1_grid a{
    text-decoration: none;
}
.homediv{
  margin-top: 1rem;
}

.homebgimg1{
    width: 100%;
    height: 550px;
    margin-top: 1.5rem;
}
.overlayhome-image {
    position: absolute;
    top: 55%;
    left: 0;
    height: 39%;
    /* width: 100%; */
    /* height: 100%; */
    /* z-index: 1; */
  }
.container {
    position: relative;
}
  
.textOverlay {
    position: relative;
    margin-bottom: 10%;
    margin-top: -25%;
    margin-left: 19%;
    transform: translate(-50%, -50%);
    width: 37%;
}
  
.montserratText {
    font-family: 'Montserrat',sans-serif;
    font-size: 60px;
    font-weight: 500;
    color: #CACBCD;
    /* Additional styles for the text */
}
.additionalText {
    font-family: 'Montserrat', sans-serif;
    margin-top: 1rem;
    font-size: 18px;
    color: white;
    /* Additional styles for the additional text */
  }
  .additionalText1 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 1rem;
    font-size: 30px;
    color: rgb(0, 0, 0);
    /* Additional styles for the additional text */
  }
.herotext{
    color: #FF7426;
    font-weight: 550;
}
.herotext2{
  color: #FF7426;
  
}
.h3herotext{
  font-family: 'Poppins', sans-serif; 
  font-size: 30px;
}
.h3herotext2{
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
}
.h3herotext1{
  font-family: 'Poppins', sans-serif;
  color: #000000;
  text-align: center;
  margin-top: 1rem;
  padding-top: 2rem;
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
    .montserratText {
      font-size: 40px; /* Adjust the font size for smaller screens */
    }
}
  
@media (max-width: 480px) {
    .montserratText {
      font-size: 25px; /* Adjust the font size for even smaller screens */
    }
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 300px;
    margin-top: 3%;
  }

  .search-input {
    padding: 8px;
    font-size: 16px;
    flex-grow: 1;
    border-radius: 25px;
  }

  .search-button {
    padding: 10px 18px ;
    margin-top: 0.5px;
    margin-right: 3px;
    font-size: 11px;
    background-color: #4D2C5E;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    border-radius: 60px;
    right: 0;
  }

  .search-button:hover {
    background-color: #FF7426;
  }
  @media (max-width: 768px) {
    .search-container {
      max-width: 100%;
    }
  }
  
  @media (max-width: 480px) {
    .search-container {
      flex-direction: column;
      align-items: stretch;
    }
  
    .search-input {
      margin-bottom: 8px;
    }
  }
  .search-icon {
    position: absolute;
    left: 8px;
    pointer-events: none;
  }
  .student-card-title{
    width: 25%;
    height: 45px;
    background-color: #4D2C5E;
    z-index: 1;
    border-radius: 8px;
    text-align: center;
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    /* font-weight: 600; */
    color: #ffffff;
  }
.student-card{
    width: 70%;
    height: 150px;
    margin-bottom: 2rem;
    background-color: #ffedc8;
    border-radius: 25px;
}
.grid-item {
    display: flex;
    align-items: center;
}
.content {
    margin-left: 10px;
}
.content h6{
    color: #000000;
}
.content p{
    color: #8d8d8d;
}
  @media (max-width: 600px) {
    .grid-item {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .content {
      margin-left: 0;
      margin-top: 10px;
    }
  }
  .overlayimage2 {
    position: absolute;
    left: 0;
    height: 25rem;
    margin-left: 60.5%;
    /* width: 100%; */
    /* height: 100%; */
    /* z-index: 1; */
  }
  .overlayimage3 {
    position: absolute;
    left: 0;
    height: 25rem;
    /* width: 100%; */
    /* height: 100%; */
    /* z-index: 1; */
  }
  .newsletter{
    width: 70%;
    height: 230px;
    margin-top: 3rem;
    margin-left: 15%;
    margin-bottom: 3rem;
    background-color: #ffedc8;
    border-radius: 25px;
}
.search-container1 {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 500px;
  margin-left: 9rem;
}
.send-button {
  padding: 10px 18px ;
  margin-top: 0.5px;
  margin-right: 3px;
  font-size: 11px;
  background-color: #4D2C5E;
  color: white;
  border: none;
  cursor: pointer;
  position: absolute;
  border-radius: 60px;
  right: 0;
}

.send-button:hover {
  background-color: #FF7426;
}
.send-container {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 500px;
  margin-left: 9rem;
}
.herotext3{
  font-family: 'Poppins',sans-serif;
  font-size: 60px;
  font-weight: 500;
  color: #919192;
  
}
.textOverlay1 {
  position: relative;
  /* margin-bottom: 10%; */
  margin-top: -18%;
  margin-left: 35%;
  transform: translate(-50%, -50%);
  width: 47%;
}
.applybtn-home{
  background-color:#8d8d8d;
  margin-left: 2rem;
}
.montserratText2 {
  font-family: 'Montserrat',sans-serif;
  font-size: 50px;
  font-weight: 500;
  color: #242425;
  /* Additional styles for the text */
}
